* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

body {
  background-color: #212231;
  color: #dbe5e6;
  font-family: normal 100%/1.4 Georgia, serif;
  min-height: 400px;
  margin-bottom: 80px;
  clear: both;
}

.main-container h2 {
  margin: 0.5rem 0;
}
.main-container h3 {
  margin: 0.5rem 0;
}
.main-container p {
  margin: 1rem 0;
}
.main-container a {
  color: #eb5e55;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1d1e2b;
  color: #dbe5e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .copyright-container {
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
}
