* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

body {
  background-color: #212231;
  color: #dbe5e6;
  font-family: normal 100%/1.4 Georgia, serif;
  min-height: 400px;
  margin-bottom: 80px;
  clear: both;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #212231;
  background: linear-gradient(to right, #eb5e55 0%, #d81e5b 80%);
}
.header h1 {
  margin-left: 5vh;
}

.main-container {
  margin: 2vh;
  padding: 2vh;
  background-color: #393c56;
  color: #dbe5e6;
}
.main-container h2 {
  margin: 0.5rem 0;
}
.main-container h3 {
  margin: 0.5rem 0;
}
.main-container p {
  margin: 1rem 0;
}
.main-container a {
  color: #eb5e55;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1d1e2b;
  color: #dbe5e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .copyright-container {
  margin: 0.4rem 0;
  font-size: 0.8rem;
}

.top-nav-container {
  background-color: #d81e5b;
  color: #dbe5e6;
  min-height: 10vh;
  max-height: 10vh;
  margin-right: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#nav-links li {
  display: inline-block;
  margin: 0 1vh;
  padding: 1vh;
  transition: background-color 0.3s;
}
#nav-links li a {
  text-decoration: none;
  color: #212231;
}
#nav-links li:hover {
  background-color: #c21b52;
  color: #dbe5e6;
}

#user-actions {
  height: 5vh;
  width: 5vh;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
  line-height: 5vh;
  margin-left: 3vh;
}
#user-actions:hover {
  cursor: pointer;
}

.card-container {
  width: 66%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vh;
}
.card-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #212231;
  color: #dbe5e6;
  padding-bottom: 2vh;
}
.card-container .card .card-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #eb5e55 0%, #d81e5b 80%);
  color: #212231;
}
.card-container .card .card-header h2 {
  margin-left: 2vh;
}
.card-container .card .card-header i {
  margin-right: 1.25vh;
  padding: 0.75vh;
  transform: scale(1.2);
  transition: background-color 0.3s;
}
.card-container .card .card-header i:hover {
  background-color: #c21b52;
}
.card-container .card .card-content {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 2vh 0;
}
.card-container .card .card-content .card-image {
  height: 20vh;
}
.card-container .card .card-content .card-image img {
  height: 100%;
  border-radius: 50%;
}
.card-container .card .card-content .card-stats {
  width: auto;
  margin-left: 5vh;
}
.card-container .card .card-content .card-stats ul li {
  list-style: none;
  margin: 1vh 0;
}
.card-container .card .card-description {
  width: 80%;
}
.card-container .card .card-description p {
  margin-top: 0;
}
.card-container .card .card-buttons {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-container .card .card-buttons button {
  width: 40%;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  padding: 5px 15px;
  background-color: #eb5e55;
  color: #212231;
  transition: background-color 0.3s;
}
.card-container .card .card-buttons button:hover {
  background-color: #c21b52;
  color: #dbe5e6;
  color: #212231;
}
.card-container .card .card-buttons button#delete {
  width: 10%;
  padding: 5px;
  background-color: #d81e5b;
}
.card-container .card .card-buttons button#delete:hover {
  background-color: #e54479;
}
.card-container .card1 {
  grid-column: 1/2;
}
.card-container .card2 {
  grid-column: 2/3;
}
.card-container .card3 {
  grid-column: 1/2;
}
.card-container .card4 {
  grid-column: 2/3;
}

.dashboard-container {
  display: flex;
  justify-content: space-around;
}

.analytics-container {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212231;
  color: #dbe5e6;
}
.analytics-container .analytics-header {
  width: 100%;
  background: linear-gradient(to right, #b776c6 0%, #9381ff 80%);
  color: #212231;
}
.analytics-container .analytics-header h2 {
  margin-left: 2vh;
}
