// COLORS
$primary-color: #212231;
$primary-color-dark-2: darken($primary-color, 2%);

$primary-highlight-color: #393c56;
$primary-highlight-color-dark-2: darken($primary-highlight-color, 2%);

$secondary-color: #d81e5b;
$secondary-color-dark-5: darken($secondary-color, 5%);

$secondary-highlight-color: #eb5e55;
$secondary-highlight-color-dark-2: darken($secondary-highlight-color, 2%);
$secondary-highlight-color-dark-5: darken($secondary-highlight-color, 5%);
$secondary-highlight-color-dark-10: darken($secondary-highlight-color, 10%);

$tertiary-color: #b776c6;

$tertiary-highlight-color: #9381ff;

$light-color: #dbe5e6;


// FONTS
$font-stack: normal 100%/1.4 Georgia, serif;

// GLOBAL RESET
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
