// COLORS
$primary-color: #212231;
$primary-color-dark-2: darken($primary-color, 2%);

$primary-highlight-color: #393c56;
$secondary-color: #d81e5b;
$secondary-highlight-color: #eb5e55;
$light-color: #dbe5e6;


// FONTS
$font-stack: normal 100%/1.4 Georgia, serif;

// GLOBAL RESET
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
