.dashboard-container {
    display: flex;
    justify-content: space-around;
}

.analytics-container {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include set-colors($primary-color);

    .analytics-header {
            width: 100%;
            background: linear-gradient(to right, $tertiary-color 0%, $tertiary-highlight-color 80%);
            color: $primary-color;

            h2 {
                margin-left: 2vh;
            }
        }
}
