.top-nav-container{
    @include set-colors($secondary-color);
    min-height: 10vh;
    max-height: 10vh;
    margin-right: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#nav-links{

    li{
        display: inline-block;
        margin: 0 1vh;
        padding: 1vh;
        transition: background-color 0.3s;

        a{
            text-decoration: none;
            color: $primary-color;
        }

        &:hover {
            @include set-colors($secondary-color-dark-5);

            a{
                @include set-colors($secondary-color-dark-5);
            }
        }
    }  
}

// Hamburger for User
#user-actions{
    height: 5vh;
    width: 5vh;
    background-color: #bbb;
    border-radius: 50%;
    text-align: center;
    line-height: 5vh;

    &:hover{
        cursor: pointer;
    }
}

.login-action{
    padding: 0 10px;
    line-height: 5vh;
    height: 5vh;
    color: $primary-color;
    transition: background-color 0.3s;
    &:hover {
        cursor: pointer;
        color: $primary-color;
        @include set-colors($secondary-color-dark-5);
    }
}