.top-nav-container{
    background-color: $secondary-color;
    border-bottom: 1.5px solid white;
    min-height: 10vh;
    max-height: 10vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav-links{

    li{
        display: inline-block;
        

        a{
            text-decoration: none;
        }
    }
    

}