@import 'config';
@import 'utilities';

body {
	@include set-colors($primary-color);
	font-family: $font-stack;
	min-height: 400px;
	margin-bottom: 80px;
	clear: both;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primary-color;
    background: linear-gradient(to right, $secondary-highlight-color 0%, $secondary-color 80%);
	min-height: 10vh;
    h1 {
        margin-left: 5vh;
    }
}

.main-container {
    margin: 2vh;
    padding: 2vh;
    @include set-colors($primary-highlight-color);

	h2 {
		margin: 0.5rem 0;
	}

	h3 {
		margin: 0.5rem 0;
	}

	p {
		margin: 1rem 0;
	}

	a {
		color: $secondary-highlight-color;
		text-decoration: none;
	}
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	@include set-colors($primary-color-dark-2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.copyright-container {
		margin: 0.4rem 0;
		font-size: 0.8rem;
	}
}

@import 'nav';
@import 'cards';
@import 'dashboard';
@import 'login';
