<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<title>{% if page.title %}{{page.title}} | {% endif %}HackBU 2021 Project{% if page.titleAfter %} | {{page.titleAfter}}{% endif %}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
		integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
		<link href="/css/main.css" rel="stylesheet">
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
		<meta name="description" content="{{page.meta}}">
	</head>
	<body>
        <div class="header">
            <h1>Admin Dashboard</h1>
            {% include nav.html %}
        </div>
        <div class="main-container">
            {{content}}
        </div>
		<div class="footer">
			<div class="copyright-container">
				<small>Copyright &copy; 2021 Ben Buchanan &amp; Nicholas Walling</small>
			</div>
		</div>
	</body>
</html>
